/* estilos generales*/

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/pattern.png);
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

/* fuentes */

@font-face {
  font-family: "TrebuchetMS";
  src: url(../fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "websymbolsregular";
  src: url(../fonts/websymbols-regular-webfont.eot);
  src: url(../fonts/websymbols-regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/websymbols-regular-webfont.woff) format("woff"),
    url(../fonts/websymbols-regular-webfont.ttf) format("truetype"),
    url(../fonts/websymbols-regular-webfont.svg#websymbolsregular) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* cabecera */

#header,
#footer {
  display: block;
  width: 100%;
  background-color: #000000;
  font-family: BebasNeue;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 1200px;
  border: 1px solid red;
}

#logo {
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: #37bcf9;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.gear {
  padding: 2px;
  font-family: "websymbolsregular";
  font-size: 3rem;
  color: #ffffff;
}

#header h3 {
  color: white;
  font-size: 4rem;
}

.menu {
  margin: auto 0px;
  width: 800px;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menu ul li {
  font-size: 2.4rem;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.menu ul li:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.menu ul li a:hover {
  color: #37bcf9;
  text-decoration: underline;
}

/* inicio banner */

.banner {
  width: 1200px;
  height: 120px;
  margin: 20px auto;
  border: 10px solid #ffffff;
  box-shadow: 0px 0px 2px grey;
  background-image: url(../img/bakbaner.png);
  background-position: -200px -200px;
}

.banner h1 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  font-family: "BebasNeue";
  color: #ffffff;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px black;
}

/* fin banner */

/* inicio card */

.card {
  width: 180px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 0.5px 1.5px 3px grey;
}

.card .icon,
.card h3,
.card p {
  margin-top: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #00538c;
}

.card .icon {
  font-size: 2.5rem;
  font-family: "websymbolsregular";
  color: black;
}

.card h3 {
  font-size: 2rem;
}

.card p {
  font-size: 1.4rem;
  font-weight: normal;
}
/* fin card */
/* inicio aside */
#right {
  width: 200px;
}

#left {
  width: 850px;
}

.widget {
  width: 100%;
  margin-bottom: 10px;
}

.widget h3,
.main_content h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "BebasNeue";
  font-weight: lighter;
  letter-spacing: 2px;
  background-color: lightgrey;
  background-image: url(../img/pxgray.png);
  padding: 5.5px;
  box-shadow: 2px 2px 2px black;
}

.widget div {
  margin-bottom: 10px;
  background-color: white;
}

.widget form {
  padding: 10px 10px 0px;
}

.widget:first-child form {
  padding-top: 0px;
}

.widget:first-child div,
.widget:nth-child(2) div {
  position: relative;
  box-shadow: 0px 0px 5px grey inset;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.widget:nth-child(2) form {
  background-color: white;
  box-shadow: 0px 2px 3px black;
}

.widget form input[type="text"],
input[type="password"] {
  border: none;
  width: 158px;
  padding: 3px;
  background: none;
  outline: none;
}

.widget .icon-form {
  position: absolute;
  font-family: "websymbolsregular";
}

.widget:nth-child(1) .icon-form {
  border-left: 1px solid rgb(208, 208, 208);
  padding: 4px;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.widget:nth-child(2) .icon-form {
  left: 6px;
  top: 4px;
}

.widget:nth-child(2) .padlock {
  left: 8px;
}

.widget:nth-child(2) input[type="text"],
input[type="password"] {
  margin-left: 18px;
}

.widget:nth-child(2) button {
  margin-left: 5px;
  width: 80px;
  height: 30px;
  background-color: #37bcf9;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #00538c inset, 0px 0px 1px black;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.widget:nth-child(2) button:hover {
  background-color: #00538c;
}

.widget:nth-child(2) button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.widget:nth-child(3) div,
.widget:nth-child(4) div {
  display: block;
  margin: 0px auto;
  padding-bottom: 10px;
  width: 150px;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 4px grey;
  overflow: hidden;
}

.widget:nth-child(3) div .twitter,
.widget:nth-child(3) div .facebook,
.widget:nth-child(3) div .gmail,
.widget:nth-child(3) div .youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  overflow: hidden;
  cursor: pointer;
}

.widget:nth-child(3) div .twitter .social_icon,
.facebook .social_icon,
.gmail .social_icon,
.youtube .social_icon {
  margin-right: 5px;
  margin-bottom: 5px;
  color: black;
  font-family: "websymbolsregular";
  font-size: 2rem;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}

.widget:nth-child(3) div .twitter p,
.facebook p,
.gmail p,
.youtube p {
  position: absolute;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  font-style: italic;
  opacity: 0;
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}

.widget:nth-child(3) div .twitter:hover .social_icon,
.facebook:hover .social_icon,
.gmail:hover .social_icon,
.youtube:hover .social_icon {
  color: #00538c;
}

.widget:nth-child(3) div .twitter:hover p,
.youtube:hover p,
.facebook:hover p,
.gmail:hover p {
  position: relative;
  opacity: 1;
  text-decoration: underline;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.widget:nth-child(4) div {
  width: 175px;
  height: 140px;
}

/* fin aside */

/* inicio main */

.main_content .main_title {
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
}

.main_content .article {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 1px 2px 3px rgb(199, 199, 199);
  border: 1.5px solid lightgray;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.main_content .article .article_title {
  padding: 10px;
  color: #00538c;
  font-family: "TrebuchetMS";
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.8rem;
  flex-shrink: 0;
}

.main_content .article .article_data {
  width: 180px;
  height: 30px;
  font-size: 1.4rem;
  background-color: #393d3f;
  color: white;
  text-align: center;
  line-height: 30px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 5px;
}

.main_content .article .article_data time {
  margin-right: 15px;
  flex-shrink: 0;
}

.main_content .article p {
  padding: 10px;
  font-size: 1.2rem;
}
#left .button_blog {
  margin: 40px auto;
  width: 850px;
  height: 130px;
  border: 1.5px solid lightgray;
  box-shadow: 0px 0px 5px rgb(199, 199, 199),
    0px 0px 10px rgb(228, 228, 228) inset;
  background-color: white;
  text-transform: uppercase;
  font-size: 4rem;
  text-shadow: 0px 0px 5px rgb(199, 199, 199);
  font-family: "TrebuchetMS";
  font-weight: bold;
  color: #00538c;
  cursor: pointer;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}

#left .button_blog:hover {
  background-color: #37bcf9;
  color: white;
}

#left .button_blog:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

/* fin main */

/* inicio footer */

#footer {
  background-color: black;
}

#footer h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 5.5px;
  font-family: "BebasNeue";
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 3rem;
  text-align: center;
  background-color: lightgrey;
  background-image: url(../img/pxgray.png);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.wrap .footer_menu h3 {
  width: 250px;
}

.footer_menu ul li {
  padding: 18px;
  color: white;
  font-size: 2.5rem;
  list-style-position: inside;
  border-bottom: 1px solid white;
}

.footer_menu a {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #37bcf9;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.footer_menu a:hover {
  color: white;
}

.footer_iframe iframe {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.footer_icons .html_icon {
  display: block;
  padding-left: 20px;
  margin: 0px auto;
  width: 250px;
}

.footer_icons .list_icons {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer_icons .footer_icon {
  width: 30px;
}

.footer_icons div p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

/* fin footer */
