/* estilos generales*/

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

/* fuentes */

@font-face {
  font-family: "TrebuchetMS";
  src: url(/fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(/fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "websymbolsregular";
  src: url(/fonts/websymbols-regular-webfont.eot);
  src: url(/fonts/websymbols-regular-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(/fonts/websymbols-regular-webfont.woff) format("woff"),
    url(/fonts/websymbols-regular-webfont.ttf) format("truetype"),
    url(/fonts/websymbols-regular-webfont.svg#websymbolsregular) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* cabecera */

#header {
  display: block;
  width: 100%;
  background-color: #000000;
  font-family: BebasNeue;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  width: 1200px;
  border: 1px solid red;
}

#logo {
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: #37bcf9;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.gear {
  padding: 2px;
  font-family: "websymbolsregular";
  font-size: 3rem;
  color: #ffffff;
}

#header h3 {
  color: white;
  font-size: 4rem;
}

.menu {
  margin: auto 0px;
  width: 800px;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menu ul li {
  font-size: 2.4rem;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

.menu ul li:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.menu ul li a:hover {
  color: #37bcf9;
  text-decoration: underline;
}
